img {
  -webkit-filter: grayscale(100%) contrast(150%) brightness(150%); 
  max-width: 100%;
  height: auto;
}


div#list>div {
	border-top:1px #ccc solid;
	margin:2rem;
}
/* Commands */
.msg_incoming {

}

.soc_procedure_start {

}

.rem_start {

}
.rem_stop {

}
.ldr_cycle_start {

}
.loc_confirmed {

}
