body {
  background-color: #fff;
  font: 14px/1.5 'Space Mono', monospace;
  color:#727272;
  font-weight:400;
}

span.title, span.log-title {
    font-weight: bold;
    text-transform: uppercase;
}
audio {
	margin: 1rem 0 0;
    width: 100%;
    max-width: 100%;
}
img {
  -webkit-filter: grayscale(100%) contrast(150%) brightness(150%); 
  max-width: 100%;
  height: auto;
  max-height: 20rem;
}
.viz img {
    padding: 2rem 0 0;
}
.hide {
	display: none;
}
div#msg>div, div#logs>div, div#locations>div {
	border-top:1px #ccc solid;
	margin:2rem 0;
}
/* Commands */
.msg_incoming {

}

.soc_procedure_start {

}

.rem_start {

}
.rem_stop {

}
.ldr_cycle_start {

}
.loc_confirmed {

}
